# Ignore NDK folders
android-ndk-r29-final/
ndk-r29/
ndk-extracted/

# Ignore build directories
app/build/
app/.cxx/
.gradle/
build/
local.properties
android-sdk/
android-ndk-r27c-linux.zip
box64droid
start-box64droid
